:root {
  /* Colors */
  --primary-pink: #cf69ab;
  --secondary-pink: #ebb0c4;
  --background-pink: #fdf4f7;
  --black: black;
  --white: white;
}

html {
  /* The base font size is 16px and increases by 0.5px for every 1% of viewport width */
  font-size: calc(16px + 0.5vw);
}

body {
  font-family: Arial, sans-serif;
}

.page-container {
  max-width: 1300px;
  margin: 0 auto;
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

ul,
li,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

h1 {
  color: var(--primary-pink);
  text-transform: uppercase;
  line-height: 1;
  font-weight: lighter;
  font-size: 1.75rem;

  @media (min-width: 576px) {
    font-size: 2rem;
  }

  @media (min-width: 1024px) {
    font-size: 2.5rem;
  }

  @media (min-width: 1300px) {
    font-size: 62px;
  }
}
/* 
p {
  color: var(--primary-pink);
  font-size: 0.75rem;

  @media (min-width: 1300px) {
    font-size: 24px;
  }
} */

button {
  border: 1px solid var(--primary-pink);
  color: var(--primary-pink);
  background-color: var(--white);
  padding: 12px;
  text-transform: uppercase;
  font-size: 0.7rem;

  @media (min-width: 768px) {
    font-size: 0.5rem;
  }

  @media (min-width: 1300px) {
    font-size: 16px;
  }
}
